
	.reg_main {
		position:relative;
		margin:100px auto 0px auto;
		height:500px;
		width:450px;
		border:1px solid white;
		background-color:white;
	}
	.main_header {
	    position:absolute;
	    font-size:36px;
	    color:#0084ff;
	    text-align:center;
	    font-family:Roboto;
	    left:0;
	    right:0;
	    top:50px;
	}
	.messagesubmit {
	    width:450px;
	    height:180px;
		position:relative;
		margin:146px auto;
		border:none;
	}
	.reg_username, .reg_password, .nickname {
	    position:absolute;
		text-align:center;
		left:0;
		right:0;
		height:40px;
	}
	.reg_username input, .reg_password input, .nickname input {
		height:34px;
		width:380px;
		border:none;
		border-bottom:1px solid #B0B0B0;
	}
	.reg_username {
		margin-top:10px;
		color:rgb(133,144,166);
	}
	.reg_password{
		margin-top:80px;
		color:rgb(133,144,166);
	}
	.nickname {
		margin-top:150px;
		color:rgb(133,144,166);
	}
	.tips {
		position:relative;
		z-index:300;
		width:120px;
		height:30px;
		line-height:34px;
		top:150px;
		text-align:center;
		left:293px;
		font-size:14px;
		color:red;
		background:white;
		visibility:hidden;
	}
	.button-switch {
	    position:absolute;
		background:red;
		width:30px;
		height:36px;
		right:2px;
		background:transparent;
		border:none;
		cursor:pointer;
	}
	i {
	 	color:rgb(133,144,166);
	}
	.forget {
		position:absolute;
		bottom:160px;
		left:350px;
	}
	.forget a {
		font-family:Roboto;
		text-decoration:none;
		color:#B0B0B0;
	}
	.login {
		position:absolute;
		width:350px;
		height:40px;
		left:50px;
		bottom:90px;
		border:none;
		border-radius:4px;
		color:white;
		background-color:rgba(28,172,240,1);
	}
	.register {
		position:relative;
		border-top:1px solid rgba(246,246,246,1);
		width:100%;
		height:57px;
		bottom:30px;
		background-color:rgba(246,246,246,1);
	}
	.registera {
		position:absolute;
		text-align:center;
		left:0;
		right:0;
		top:17px;
		font-family:Roboto;
		font-weight:bold;
	}
	.registera a {
		text-decoration:none;
	}
	#name.change::-webkit-input-placeholder {
		color:red;
	}
	#password.change::-webkit-input-placeholder {
		color:red;
	}
	#name.origin::-webkit-input-placeholder {
		color:gray;
	}
	#password.origin::-webkit-input-placeholder {
		color:gray;
	}
	#nickname.change::-webkit-input-placeholder {
		color:red;
	}
	#nickname.origin::-webkit-input-placeholder {
		color:gray;
	}
